<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title th:inline="text">Neon - [[${listing.id == null} ? 'New listing' : 'Edit listing']]</title>

    <link rel="stylesheet" th:href="@{/css/new-listing-form.css}">
</head>
<body>
    <div layout:fragment="content">
        <h1 th:inline="text">[[${listing.id == null} ? 'New listing' : 'Edit listing']]</h1>
        <hr />
        <form th:action="@{/listings}" th:method="@{${listing.id == null} ? 'post' : 'put'}" th:object="${listing}">

            <input type="hidden" th:field="*{id}" />
            <input type="hidden" id="sellerId" name="sellerId" th:value="${user.id}" />
            
            <div class="form-group">
                <label for="brand">Brand</label>
                <input type="text" class="form-control" id="brand" th:value="${deviceBrand == null} ? '' : ${deviceBrand.brand}">
            </div>

            <div class="form-group">
                <label for="modelAutocomplete">Model</label>
                <input type="text" class="form-control" id="modelAutocomplete" th:value="${deviceModel == null} ? '' : ${deviceModel.modelName}">
                <input type="hidden" id="model" th:field="*{model}" th:value="${deviceModel == null} ? '' : ${deviceModel}">
            </div>

            <div class="form-group">
                <label for="condition">Condition</label>
                <select id="condition" class="form-control" th:field="*{condition}">
                    <option th:each="c : ${conditions}" th:value="${c.id}" th:text="${c.condition}" th:selected="${deviceCondition != null && deviceCondition.id == c.id}" ></option>
                </select>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea id="description" name="description" class="form-control" th:field="*{description}" />
            </div>

            <div class="form-group">
                <label for="price">price</label>
                <input id="price" name="price" class="form-control" th:field="*{price}" />
            </div>

            <input type="hidden" name="listedOn" id="listedOn" th:field="*{listedDate}" th:if="${listing.id != null}">
            <input type="hidden" name="listedOn" id="status" th:field="*{status}" th:if="${listing.id != null}">

            <button type="submit" class="btn btn-success">Save</button>
            <a class="btn btn-default" onclick="window.history.back()">Back</a>
        </form>


        <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/jquery.autocomplete.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/new-listing-form.js}"></script>
    </div>
</body>
</html>