<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Listing info</title>
</head>
<body>
    <div layout:fragment="content">
        <h1 th:text="${listing.description}"></h1>
        <hr />

        <div class="form-group">
            <label >By: </label>
            <span th:text="${user.name}"></span>
        </div>

        <div class="form-group">
            <label >Price: </label>
            <span th:text="${listing.price}"></span>
        </div>

        <div class="form-group">
            <label >Listed: </label>
            <span th:text="${listing.listedDate}"></span>
        </div>

        <a class="btn btn-default" onclick="window.history.back()">Back</a>
    </div>
</body>
</html>