<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Neon - Listings</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="form-group">
            <label for="brandListings">Select a brand:</label>
            <ul name="brandListings" id="brandListings" class="form-control">
                <li th:each="listing : ${brandListings}" th:value="${listing.id}" th:text="${listing.description}"></li>
            </ul>
        </div>
    </div>
</body>
</html>