<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title th:inline="text">Neon - [[${user.name}]]'s account</title>
</head>
<body>
    <div layout:fragment="content">
        <h1 th:text="${user.name}"></h1>
        <hr />

        <div class="form-group">
            <label>Username: </label>
            <span th:text="${user.username}"></span>
        </div>


        <a th:href="@{/listings/new/}" class="btn btn-primary" >New listing</a>
        <a th:href="@{/}" class="btn btn-primary" >Back to home</a>
        <a th:href="@{/users/edit-account}" class="btn btn-info">Edit account</a>
        <a th:href="@{/users/delete'}" class="btn btn-danger">Delete this account</a>


        <hr />
        <h1>Listing List</h1>
        <hr />
        <table class="table">
            <thead>
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="l : ${listListing}">
                <td th:text="${l.id}"></td>
                <td th:text="${l.description}"></td>
                <td>
                    <a th:href="@{/listings/{id} (id = ${l.id})}" class="btn btn-primary">Show</a>
                    <!--<a th:href="@{/listings/{id}/edit(id = ${module.id})}" class="btn btn-info">Edit</a>-->
                    <a th:href="@{/listings/{id}/delete (id = ${l.id})}" class="btn btn-danger">Destroy</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>