<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Show User</title>
</head>
<body>
<div layout:fragment="content">
    <h1 th:text="${user.name}"></h1>
    <hr />

    <div class="form-group">
        <label>Username: </label>
        <span th:text="${user.username}"></span>
    </div>


    <a th:href="@{/users/{id}/new/(id = ${user.id})}" class="btn btn-primary" >New listing</a>
    <a th:href="@{/}" class="btn btn-primary" >Back to home</a>
    <a th:href="@{/users/{id}/edit(id = ${user.id})}" class="btn btn-info">Edit this record</a>
    <a th:href="${user.id +'/delete'}" class="btn btn-danger">Delete this record</a>


        <hr />
        <h1>Listing List</h1>
        <hr />
        <table class="table">
            <thead>
            <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="l : ${listListing}">
                <td th:text="${l.id}"></td>
                <td th:text="${l.description}"></td>
                <td>
                    <a th:href="@{/users/{id}/listing/0 (id = ${l.id})}" class="btn btn-primary">Show</a>
                    <!--<a th:href="@{/listings/{id}/edit(id = ${module.id})}" class="btn btn-info">Edit</a>-->
                    <a th:href="${'listings/'+ l.id+'/delete'}" class="btn btn-danger">Destroy</a>
                </td>
            </tr>
            </tbody>
        </table>

</div>
</body>
</html>