<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Neon</title>
</head>
<body>
    <div layout:fragment="content">
        <form th:action="search" method="POST">
            <div class="form-group">
                <label for="deviceBrandInput">Select a brand:</label>
                <select name="deviceBrandInput" id="deviceBrandInput" class="form-control">
                    <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.brand}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="deviceModelSearchInput">Search for model:</label>
                <input type="text" class="form-control" id="deviceModelSearchInput" name="deviceModelSearchInput">
            </div>
            <button class="btn btn-primary" type="submit">Search models</button>
        </form>
    </div>
</body>
</html>
