<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Results</title>
</head>
<body>
    <div layout:fragment="content">
        <form th:object="${listModel}">
            <div th:if="${not #lists.isEmpty(listModel)}">
                <h2>Found devices:</h2>
                <table>
                    <tr th:each="model : ${listModel}">
                        <td th:text="${model.modelName}">

                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</body>
</html>